#是否开启调试模式APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai#数据库[DATABASE]TYPE = mysqlHOSTNAME = likeshop-mysqlDATABASE = localhost_likeshop_b2cUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8mb4PREFIX = ls_DEBUG = true#语言[LANG]default_lang = zh-cn#项目配置[PROJECT]#项目唯一标识，用于密码盐、路径加密等UNIQUE_IDENTIFICATION = 'likeshop'